:root {
  --size_grid_item: 100px;
  --size_large_grid_item: 200px;

  --colour_grid_area: /*#DDD*/transparent;

  --colour_grid_item_default_background: #FFF;
  --colour_grid_item_border: hsla(0, 0%, 0%, 0.5);
  --colour_grid_item_border_selected: #347EB3;

  --colour_nav_bars: #c6e0f3;
}

html {background-size: cover}
* { box-sizing: border-box; }
body { font-family: sans-serif; background-color: transparent;}

.navbar { background-color: var(--colour_nav_bars); }


/* GRID DISPLAY AREA --------- */
div.grid { background: var(--colour_grid_area); max-width: 1730px; margin-left:auto; margin-right: auto; margin-top:5%; }

/* clear fix */
div.grid:after { content: ''; display: block; clear: both; }
/*---------------------------- */

/* GRID ITEMS ---------------- */

div.grid .grid-sizer{ width: var(--size_grid_item); }

div.grid .grid-item {float: left; width: var(--size_grid_item); height: var(--size_grid_item); background: var(--colour_grid_item_default_background);
  border: 1px solid var(--colour_grid_item_border); background-repeat:no-repeat; background-position: center; }

div.grid .grid-item--horizontal { width: var(--size_large_grid_item); }
div.grid .grid-item--vertical { height: var(--size_large_grid_item); }
div.grid .grid-item--large { width: var(--size_large_grid_item); height: var(--size_large_grid_item); }

div.grid .selected{ outline-color: var(--colour_grid_item_border_selected); outline-style: solid; outline-width: 4px; outline-offset: -4px; }
div.grid .selected::before{ content: ''; position: absolute; top:2px; right:2px; z-index:1; width:0; height:0;
  border-width: 2em 0 0 2em; border-style: solid; border-color: var(--colour_grid_item_border_selected) transparent; display:block; }

div.grid .grid-item.is-dragging, div.grid .grid-item.is-positioning-post-drag { z-index: 2; }

/* dashed shadow when dragging items */

.packery-drop-placeholder { outline: 3px dashed hsla(0, 0%, 0%, 0.5); outline-offset: -6px; -webkit-transition: -webkit-transform 0.2s;
   transition: transform 0.2s; }
/*---------------------------- */

#btn_settings{ display: inline-block; border-radius: 50%; box-shadow: 0px 0px 2px #888; border: 1px solid #888; padding: 0.2em 0.2em; 
  font-size:24px; position:absolute; right:0.3em; bottom: 0.3em; z-index: 2000; }

#btn_settings.on{ background-color: rgb(255, 153, 0);}

#nav_tiles {z-index:2100;}
#tileImageSize {color:#fff;}
#btnCloseNav{ border-radius: 50%; box-shadow: 0px 0px 2px #888; border: 1px solid #888; padding: 0.2em 0.2em; 
  font-size:24px; position:absolute; right:0.3em; bottom: 0.3em; color:rgb(51, 194, 58); background-color:rgb(211, 241, 212);}